@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);
// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

header{
.topimag{
    background-image:
    url(https://www.pakutaso.com/shared/img/thumb/ameman170920008_TP_V.jpg);
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center center;
}
}

@media(max-width: 768px){
 .topimag{height: 250px;
    }
}

.main{
    text-align:center;
    margin:20px;
}

.main-text{
    padding:30px;
    margin:10px;
}

.mainbox{
        display: flex;
     @include flex-direction(row);    
       @include display-flex;
    justify-content: space-between;
       text-align:center;
}

.box{
    width: 30%;
    text-align: center;
 }

.box h2{
    padding: 20px;
    background: #c0c0c0;
}

.box p{
    padding: 40px 20px;
    background: #808080;
    color: #ffffff;
    text-align: center;
}

@media(max-width: 768px){
.main{
       text-align:center;
    width: 90%;
}
.mainbox{
    width: 100%;
     @include display-flex;
    justify-content: space-between;
    @include flex-direction(column);
    text-align: center;
 }
 .box{
     width: 100%;
     margin:10px;
 }
}


.footer{
    width: 100%;
    background:#f5f5f5;
    padding:10px;
}

.footer-box{
    width: 20%;
 text-align:center;
 margin: 60px auto;
}

.footer h3{
    color:#c0c0c0;
    padding: 10px 0;
}

.footerbotan{
 color:#ffffff; 
 background:#696969;
 padding: 15px 40px;
 border-radius:5px;
}

@media(max-width: 768px){
    .footer{
        width:100%;
    }
    .footer-box{
        width:80%;
    }
}




